<style type="text/css">
  .class1{
    margin-left: 1px;
    margin-top: 0px;
    background: indianred;
    width: 800px;
    height: 385px;
    border: black 3px solid;
  }
  .class2{
    margin-left: 1px;
    margin-top: 0px;
    background: skyblue;
    width: 800px;
    height: 382px;
    border: black 3px solid;
  }
  .class3{
    margin-left: 800px;
    margin-top: -772px;
    background: rgb(7, 170, 245);
    width: 800px;
    height: 772px;
    border: black 3px solid; 
  }
</style>

<div class="class1">
  <autor-edit></autor-edit>
</div>
    
<div class="class2">
</div>


<div class="class3">
  <autor-table></autor-table>
</div>
