<h1 class="text-center">Lista de Autores</h1>

<table class="table table-bordered"> 
    <thead class="thead-light">
      <tr>  
        <th class ="text-center" scope="col">ID</th>
        <th class ="text-center" scope="col">Nombre</th>  
        <th class ="text-center" scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let autor of autors; let indice of index" class="table-primary">
        <th class ="text-center" scope="row">{{autor.id}}</th>
        <td class ="text-center">{{autor.name}}</td>
        <td class ="text-center">
          <button>Editar</button>
          <button>Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>