<h1 class="text-center">Editar Autores</h1>
<style>
    .container {
        width: 70%;
        margin: 0 auto;
        padding: 30px;
    }
</style>

<div class="container">
    <div class="input-group mb-3" >
        <div class="input-group-prepend">
        <button class="btn btn-outline-secondary btn btn-light" type="button">Button</button>
        </div>
        <input type="text"aria-describedby="basic-addon1" style="width: 400px;">
    </div>
</div>
